*.class
/Balanca-etiquetadora/dist/
/Balanca-etiqutadora2/nbproject/private/
/Balanca-etiqutadora2/build/
/Balanca-etiquetadora2/build/
/Balanca-etiquetadora2/nbproject/private/
/Balanca-etiquetadora/nbproject/private/